/modul-1/230441100136_NurulHasanah/modul1/nbproject/private/
/modul-1/230441100136_NurulHasanah/modul1/build/
/modul-1/230441100136_NurulHasanah/Modul0/nbproject/private/
/modul-1/230441100136_NurulHasanah/Modul0/build/
/modul-1/230441100136_NurulHasanah/Praktikum 1/nbproject/private/
/modul-1/230441100136_NurulHasanah/Praktikum 1/build/